<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>build/reports/test.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] {%marker} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="FILE" />
    </root>
    <logger name="com.ctzen" level="debug" />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
</configuration>
